* {
  margin: 1px;
  padding: 0;
}
.contenedor {
  margin: 15px auto;
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "cabecera cabecera"
    "sidebar contenido"
    "pie pie";
}
.contenedor .cabecera {
  grid-area: cabecera;
  background: #ffd24d;
}
.contenedor .cabecera a {
  color: rgb(182, 61, 61);
  display: inline-block;
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
}
.contenedor .cabecera a:hover {
  color: rgb(255, 0, 0);
}
.contenedor .cabecera .logo {
  width: 100px;
  height: 100px;
  float: left;
}
.contenedor .cabecera img {
  max-width: 100px;
  max-height: 100px;
}
.contenedor .cabecera h1 {
  margin-left: 250px;
  margin-top: 25px;
  float: left;
  color: white;
}
.contenedor .cabecera .menu {
  text-align: center;
  float: right;
  margin-top: 25px;
}
.contenedor .sidebar {
  grid-area: sidebar;
  background: #8ecae6;
  width: 100%;
}
.contenedor .contenido {
  grid-area: contenido;
  background: rgb(40, 167, 218);
}
.contenido {
  display: grid;
  grid-gap: 10px;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
}
.contenido > div {
  margin: 20px;
  height: 450px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-width: 1px;
}
.contenedor .contenido img {
  max-width: 300px;
  max-height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.contenido .DATOS {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
}
button {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 25px;
  display: block;
  border-radius: 5px;
  border-color: white;
  background: rgb(40, 167, 218);
  color: white;
}

@media screen and (max-width: 768px) {
  .contenido {
    grid-template-columns: repeat(1, 1fr);
  }
  .contenedor .cabecera h1 {
    margin-left: auto;
    margin-top: 10px;
    float: left;
    color: white;
  }
}
